/*********************************
 *  navitem_link
 *  Created by keleko34
 *  allows linking to another page rather than switching content
 ********************************/

.navitem_link {

}

.{{local}} .navitem_link {
  position: absolute;
  height: 100%;
  margin-left:{{left}}px
}

.{{local}} .navitem_link:hover {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem_link:active {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem_link--active {
  background: #1b1a1a;
  box-shadow: 0px -2px 16px -4px #000 inset;
}

.{{local}} .navitem_link_text {
  cursor: pointer;
  color: #F1F1F1;
  font-size: 14px;
  font-family: 'Open Sans';
  text-align: center;
  line-height: 60px;
  padding: 0px 10px;
  white-space: nowrap;
}
